
<app-quicknav></app-quicknav>
<mat-spinner *ngIf="uebersicht === undefined; else display"></mat-spinner>

<ng-template #display>

  <div class="center-content">

    <mat-card class="flex space-around">l
      <span class="eigenschaft" *ngFor="let eigenschaft of eigenschaften">{{eigenschaft}}</span>
    </mat-card>

    <mat-card>
      <div class="flex space-around">
        <div>
          <span style="min-width:100px;display:inline-block">Leben: {{uebersicht.lep}} | {{maxLep}}</span>
          <mat-slider [(value)]="uebersicht.lep" [min]="-20" [max]="maxLep" thDumbLabel (change)="onLepChange()"></mat-slider>
        </div>


        <div *ngIf="hasZauber">
          <span style="min-width:150px;display:inline-block">Astralpunkte: {{uebersicht.asp}} | {{maxAsp}}</span>
          <mat-slider [(value)]="uebersicht.asp" [max]="maxAsp" thumbLabel (change)="onAspChange()"></mat-slider>
        </div>
      </div>

    </mat-card>

    <mat-card>
      <app-waffen-tabelle></app-waffen-tabelle>

    </mat-card>
    <mat-card *ngIf="hasFernkampf">
      <app-fernkampf-waffen-tabelle></app-fernkampf-waffen-tabelle>

    </mat-card>
    <mat-card>
      <app-ruestung-tabelle></app-ruestung-tabelle>
    </mat-card>

    <mat-card>
      <app-inventar-tabelle></app-inventar-tabelle>
    </mat-card>

  </div>

</ng-template>
