
<app-quicknav></app-quicknav>
<mat-spinner *ngIf="uebersicht === undefined; else display"></mat-spinner>

<ng-template #display>

  <div class="center-content">

    <mat-card class="flex space-around">l
      <span class="eigenschaft" *ngFor="let eigenschaft of eigenschaften">{{eigenschaft}}</span>
    </mat-card>

    <mat-card>

        <div>

          <span class="lepRender">
          Leben: {{uebersicht.lep}} | {{maxLep}}
          <mat-button-toggle-group (change)="addLep = $event.value" value="{{true}}">
            <mat-button-toggle value="{{true}}">+</mat-button-toggle>
            <mat-button-toggle value="{{false}}">-</mat-button-toggle>
          </mat-button-toggle-group>
          </span>


          <ng-container *ngFor="let value of lepButtons">
            <button class="lepButton" mat-raised-button (click)="onLepChange(value)">{{value}}</button>
          </ng-container>
        </div>


        <div *ngIf="hasZauber">
          <span class="lepRender ">Astralpunkte: {{uebersicht.asp}} | {{maxAsp}}
            <mat-button-toggle-group (change)="addAsp = $event.value" value="{{true}}">
              <mat-button-toggle value="{{true}}">+</mat-button-toggle>
              <mat-button-toggle value="{{false}}">-</mat-button-toggle>
            </mat-button-toggle-group>
          </span>


          <ng-container *ngFor="let value of lepButtons">
            <button class="lepButton" mat-raised-button (click)="onAspChange(value)">{{value}}</button>
          </ng-container>
        </div>
    </mat-card>

    <mat-card>
      <app-waffen-tabelle></app-waffen-tabelle>

    </mat-card>
    <mat-card *ngIf="hasFernkampf">
      <app-fernkampf-waffen-tabelle></app-fernkampf-waffen-tabelle>

    </mat-card>
    <mat-card>
      <app-ruestung-tabelle></app-ruestung-tabelle>
    </mat-card>

    <mat-card>
      <app-inventar-tabelle></app-inventar-tabelle>
    </mat-card>

  </div>

</ng-template>
