mat-card.selected{
  background-color:blue;
}



mat-card.active {
  background-color:red;
}



mat-icon {
  cursor: pointer;
}


.left-render {
  width: 49%;
  display: inline-block;
}

.right-render {
  width: 49%;
  margin-left: 5px;
  display: inline-block;
  position:absolute;
}
