<app-quicknav></app-quicknav>

<ng-container *ngIf="heldInfo.steigern; else noSteigern">
  <div class="container">
    <mat-card>
      <mat-card-title><span>Inventar</span><button mat-icon-button (click)="addInventar()"><mat-icon>add</mat-icon></button></mat-card-title>
      <app-inventar-tabelle></app-inventar-tabelle>

    </mat-card>

    <mat-card *ngIf="false">
      <mat-card-title>
        Gegenstand hinzufügen
      </mat-card-title>

      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

</ng-container>
<ng-template #noSteigern>
  <div style="margin-top:20px">Für diese Funktion ist ein Token mit Schreib-Funktion erforderlich</div>
</ng-template>



