<mat-card>
  <mat-card-title>
    {{teilnehmer.name}} {{teilnehmer.ini}} ({{teilnehmer.iniBasis}})
  </mat-card-title>
  <mat-card-content>

    <div>
      <mat-button-toggle-group (change)="addIni = $event.value" value="{{true}}">
        <mat-button-toggle value="{{true}}">+</mat-button-toggle>
        <mat-button-toggle value="{{false}}">-</mat-button-toggle>
      </mat-button-toggle-group>

      <ng-container *ngFor="let value of iniButtons">
        <button class="lepButton" mat-raised-button (click)="onIniChange(value)">{{value}}</button>
      </ng-container>

    </div>


    <div class="focusSelect" style="margin-top:5px">
      <mat-select [(value)]="teilnehmer.focussedTeilnehmer" (valueChange)="teilnehmerChange.next()">
        <mat-option></mat-option>
        <ng-container *ngFor="let member of kampf.teilnehmer">
          <mat-option *ngIf="member !== teilnehmer" [value]="member.id">
            {{member.name}}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-select [(value)]="teilnehmer.distanzklasse" (valueChange)="teilnehmerChange.next()">
        <mat-option *ngFor="let dk of distanzklassen" [value]="dk">
          {{dk}}
        </mat-option>
      </mat-select>

    </div>


  </mat-card-content>
</mat-card>
